* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 40px;
    @keyframes example {
        0%   {background-color:rgb(255, 0, 0); }
        25%  {background-color:rgb(255, 165, 0); }
        50%  {background-color:rgb(238, 130, 238);}
        75%  {background-color:rgb(0, 0, 255); }
        100% {background-color::rgb(255, 0, 0);; }
        animation-fill-mode: forwards;
      }
    }
      
header {
    padding: 40px;
    background-color: rgb(17, 78, 143);
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    text-decoration: 25px;
    padding: 25px;
    text-align: center;
    float: left;
    color: white;
}

main {
    background-color: white;
    text-align: center;
}

h2 {
    padding: 15px;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241, 241);
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}